.wrap{
background: #f6f6f3;
color: #6c6c6c;
}

.wrap .header{
width:100%;
}

.wrap .header .top{
height: 29px;
background: #f2f2f2;
border-bottom: 1px #e5e5e5 solid;
}

.wrap .header .top .nav{
height: 29px;
width:1100px;
line-height: 30px;
margin: 0 auto;
}

.wrap .header .top .nav .left{
float:left;
}

.wrap .header .top .nav .left ul{
list-style:none;
height:30px;
}

.wrap .header .top .nav .left ul li{
float: left;
margin-right: 30px;
font-size:12px;
}

.wrap .header .top .nav .left ul li a{
color: #6c6c6c;
display: block;
text-decoration:none;
}

.wrap .header .top .nav .right{
float:right;
}

.wrap .header .top .nav .right ul{
list-style:none;
height:30px;
}

.wrap .header .top .nav .right ul li{
float: left;
padding: 0 12px;
font-size:12px;
position:relative;
}

.wrap .header .top .nav .right ul li a{
color: #6c6c6c;
display: block;
text-decoration:none;
}

.wrap .header .top .nav .right ul li a .icon-chanpinliebiao-jiantou-dingqiyuqinianhua:before{
display:inline-block;
}

.wrap .header .top .nav .right ul li a:hover .icon-chanpinliebiao-jiantou-dingqiyuqinianhua:before{
transform:rotate(180deg);
}

.wrap .header .top .nav .right ul li .erweima{
width: 85px;
height:85px;
position: absolute;
background: #fff;
top: 29px;
right:0px;
padding: 3px 0 10px;
border: 1px #e5e5e5 solid;
border-top: 0;
overflow: hidden;
display: none;
}

.wrap .header .top .nav .right ul li .erweima img{
display: block;
width: 100%;
}

.iconfont.icon-shouji{
color:#0094ff !important;
font-size:14px;
}

.iconfont.icon-shouji span{
color: #6c6c6c !important;
font-size:12px;
}

.wrap .header .top .nav .right ul li .list{
z-index:301;
list-style:none;
height: 150px;
padding-top: 3px;
margin-top: 0px;
padding-bottom: 10px;
margin-bottom: 0px;
width: 100%;
position: absolute;
display:none;
background: #fff;
top: 29px;
left: -1px;
padding: 3px 0 10px;
border: 1px #e5e5e5 solid;
border-top: 0;
overflow: hidden;
}

.wrap .header .top .nav .right ul li .list2{
z-index:301;
list-style:none;
height: 120px;
padding-top: 3px;
margin-top: 0px;
padding-bottom: 10px;
margin-bottom: 0px;
width: 100%;
position: absolute;
display:none;
background: #fff;
top: 29px;
left: -1px;
padding: 3px 0 10px;
border: 1px #e5e5e5 solid;
border-top: 0;
overflow: hidden;
}

.wrap .header .top .nav .right ul li .list li{
clear: left;
width: 100%;
padding: 0;
}

.wrap .header .top .nav .right ul li .list2 li{
clear: left;
width: 100%;
padding: 0;
}

.wrap .header .top .nav .right ul li .list li a{
padding-left: 12px;
text-decoration:none;
}

.wrap .header .top .nav .right ul li .list2 li a{
padding-left: 12px;
text-decoration:none;
}

.wrap .header .center{
background: #fff;
height: 108px;
}

.wrap .header .center .map{
margin: 0 auto;
width:1100px;
height:108px;
}

.wrap .header .center .map .logo{
float: left;
width: 260px;
height: 108px;
}

.wrap .header .center .map .logo a img{
display: block;
width: 260px;
height: 108px;
border:none;
}

.wrap .header .center .map .search{
float: left;
margin: 25px 0 0 80px;
}

.wrap .header .center .map .search .searchbox{
width:420px;
height:60px;
}

.wrap .header .center .map .search .searchbox form{
background: #fff;
height: 40px;
}

.wrap .header .center .map .search .searchbox form .text{
width: 318px;
height: 26px;
line-height: 28px;
padding: 5px 0px;
float: left;
background: #fff;
border: 2px #00c8ff solid;
padding-left: 10px;
color: #6c6c6c;
outline:none;
}

.wrap .header .center .map .search .searchbox form .btn{
width: 88px;
height: 40px;
float: left;
color: rgb(255, 255, 255);
font-size: 16px;
font-family: 微软雅黑;
cursor: pointer;
font-weight: bold;
letter-spacing: 2px;
text-align: center;
line-height: 40px;
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
background: rgb(0, 200, 255);
outline:none;
}

.wrap .header .center .map .search .searchbox .hot{
margin-top: 6px;
height:14px;
}

.wrap .header .center .map .search .searchbox .hot li{
float: left;
overflow: hidden;
}

.wrap .header .center .map .search .searchbox .hot li:first-child{
margin-left: -7px;
}

.wrap .header .center .map .search .searchbox .hot li a{
color: #6c6c6c;
margin: 0 9px;
float: left;
font-size:12px;
}

.wrap .header .center .map .search .searchbox .hot li i{
font-style: normal;
width: 1px;
background: #c4c4c4;
font-size:14px !important;
height: 10px;
float: left;
margin-top: 3px;
}

.wrap .header .center .map .shopcar{
float: right;
width: 126px;
margin: 26px 2px 0 0;
position: relative;
}

.wrap .header .center .map .shopcar .total{
width: 30px;
height: 30px;
line-height: 27px;
position: absolute;
left: 26px;
top: -18px;
background: url(../images/shopamount.png) no-repeat top left;
color: #fff;
text-align: center;
z-index: 302;
display: none;
}

.wrap .header .center .map .shopcar .mycar{
display: block;
width: 85px;
height: 36px;
line-height: 36px;
padding-left: 45px;
color: #6c6c6c;
background: #fff url(../images/topnav.png) no-repeat 10px -210px;
overflow: hidden;
border-radius: 3px;
box-shadow: 0 0 2px #d8d8d8;
position: absolute;
top: 0;
left: 0;
border: 1px #e2e2e2 solid;
z-index: 300;
}

.wrap .header .center .map .shopcar .mycar span{
float: left;
cursor: pointer;
font-size:13px;
}

.wrap .header .center .map .shopcar .mycar i{
float: left;
width: 6px;
height: 31px;
background: url(../images/topnav.png) no-repeat 0 -70px;
overflow: hidden;
margin-left: 6px;
margin-top: 3px;
}

.wrap .header .center .map .shopcar .mycar:hover i{
background-position:0 -105px;
}

.wrap .header .center .map .shopcar .shopgoods{
width: 280px;
position: absolute;
top: 34px;
right: -6px;
border: 1px #e2e2e2 solid;
background: #fff;
padding: 0 10px 10px;
display: none;
border-radius: 3px;
box-shadow: 0 0 2px #d8d8d8;
padding-top: 0px;
margin-top: 0px;
padding-bottom: 10px;
margin-bottom: 0px;
z-index: 200;
}

.wrap .header .center .map .shopcar .shopgoods .empty{
padding: 30px 0;
}

.wrap .header .center .map .shopcar .shopgoods .empty p{
text-align: center;
font-family: "微软雅黑";
}

.wrap .header .center .map .shopcar .shopgoods .empty .p1{
width: 135px;
height: 164px;
margin: 0 auto;
background: url(../images/empty.png) no-repeat;
}

.wrap .header .center .map .shopcar .shopgoods .empty .p2{
font-size: 24px;
color: #c4c4c4;
margin-top: 10px;
}

.wrap .header .center .map .shopcar .shopgoods .empty .p3{
font-size: 18px;
color: #c4c4c4;
}

.wrap .header .bottom{
height: 35px;
background: #00c8ff;
}

.wrap .header .bottom .nav{
height: 35px;
margin: 0 auto;
width:1100px;
}

.wrap .header .bottom .nav .menu{
float: left;
position: relative;
}

.wrap .header .bottom .nav .menu ul{
height:35px;
}

.wrap .header .bottom .nav .menu ul li{
float: left;
}

.wrap .header .bottom .nav .menu ul li:nth-child(1) a{
background: #00647f;
display: block;
width: 120px;
height: 35px;
color: rgb(255, 255, 255);
text-align: center;
font-family: 微软雅黑;
line-height: 35px;
font-size: 14px;
overflow: hidden;
cursor: pointer;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2)>a{
display: block;
width: 120px;
height: 35px;
color: rgb(255, 255, 255);
text-align: center;
font-family: 微软雅黑;
line-height: 35px;
font-size: 14px;
overflow: hidden;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem{
display: none;
height: 254px;
padding-top: 4px;
margin-top: 0px;
padding-bottom: 30px;
margin-bottom: 0px;
width: 1065px;
position: absolute;
top: 35px;
left: 0px;
background: #fff;
padding: 4px 30px 30px 5px;
z-index: 200;
/*border:1px solid #000;*/
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist{
width: 800px;
float: left;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist .row .inner{
width: 360px;
margin: 40px 0 0 40px;
float: left;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist .row .inner dt{
width: 336px;
height: 23px;
padding: 0 0 6px 24px;
border-bottom: 1px #c4c4c4 dotted;
float: left;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist .inner dd{
float: left;
margin: 12px 20px 0 0px;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist .inner dt a{
font-size: 14px;
font-weight: bold;
color: #6c6c6c;
background: #fff;
}

.wrap .header .bottom .nav .menu ul li:nth-child(2) .shoplistitem .shoplist .inner dd a{
color: #6c6c6c;
font-size:12px;
}

.hufu dt{
background: url(../images/m_nav.png) no-repeat 0 0;
line-height: 23px;
padding-left: 21px;
}

.yaozhuang dt{
background: url(../images/m_nav.png) no-repeat 0 -30px;
line-height: 18px;
}

.xihu dt {
background: url(../images/m_nav.png) no-repeat 0 -60px;
line-height: 24px;
padding-left: 21px;
}

.caizhuang dt {
background: url(../images/m_nav.png) no-repeat 0 -90px;
line-height: 24px;
}

.listad{
float: right;
width: 230px;
height: 230px;
margin-top: 24px;
}

.wrap .header .bottom .nav .menu ul li:nth-child(3) a{
display: block;
width: 120px;
height: 35px;
color: rgb(255, 255, 255);
text-align: center;
font-family: 微软雅黑;
line-height: 35px;
font-size: 14px;
overflow: hidden;
position:relative;
}

.wrap .header .bottom .nav .menu ul li:nth-child(3) a img{
border:0;
}

.wrap .header .bottom .nav .menu ul li:nth-child(3) a .status1{
position:absolute;
display:block;
}

.wrap .header .bottom .nav .menu ul li:nth-child(3) a .status2{
position:absolute;
display:none;
}

.wrap .header .bottom .nav .info{
float: right;
}

.wrap .header .bottom .nav .info ul{
height:35px;
}

.wrap .header .bottom .nav .info ul li{
width: 0px;
overflow: hidden;
float: left;
font-family: 'å¾®è½¯é›…é»‘';
color: #fff;
font-size: 14px;
height: 35px;
line-height: 35px;
padding-left: 26px;
margin-left: 8px;
cursor: pointer;
transition:all 0.6s linear;
}

.wrap .header .bottom .nav .info ul li:nth-child(1){
background: url(../images/assure2.png) no-repeat 0 0;
}

.wrap .header .bottom .nav .info ul li:nth-child(1):hover{
width:74px;
}

.wrap .header .bottom .nav .info ul li:nth-child(2){
background: url(../images/assure2.png) no-repeat 0 -35px;
}

.wrap .header .bottom .nav .info ul li:nth-child(2):hover{
width:74px;
}

.wrap .header .bottom .nav .info ul li:nth-child(3){
background: url(../images/assure2.png) no-repeat 0 -105px;
}

.wrap .header .bottom .nav .info ul li:nth-child(3):hover{
width:74px;
}

.wrap .header .bottom .nav .info ul li:nth-child(4){
background: url(../images/assure2.png) no-repeat 0 -70px;
}

.wrap .header .bottom .nav .info ul li:nth-child(4):hover{
width:115px;
}

.wrap .container{
margin-bottom: 35px;
position: relative;
background: #ffffff;
}

.wrap .container .swiper-container{
width: 100%;
height: 350px;
margin-bottom: 35px;
position: relative;
overflow:hidden;
}

@keyframes scale{
0%{}
100%{
transform:scale(1.05);
}
}

.wrap .container .swiper-container .swiper-wrapper .swiper-slide{
width:100%;
height:350px;
overflow:hidden;
top:0;
left:0;
}

.wrap .container .swiper-container .swiper-wrapper .swiper-slide1{
background:url("../images/banner1.jpg") no-repeat center top;
width:100%;
height:350px;
display:block;
animation:scale 3s linear infinite forwards;
}

.wrap .container .swiper-container .swiper-wrapper .swiper-slide2{
background:url("../images/banner2.jpg") no-repeat center top;
width:100%;
height:350px;
display:block;
animation:scale 3s linear infinite forwards;
}

.wrap .container .swiper-container .swiper-wrapper .swiper-slide3{
background:url("../images/banner3.jpg") no-repeat center top;
width:100%;
height:350px;
display:block;
animation:scale 3s linear infinite forwards;
}

.wrap .container .swiper-container .swiper-wrapper .swiper-slide4{
background:url("../images/banner4.jpg") no-repeat center top;
width:100%;
height:350px;
display:block;
animation:scale 3s linear infinite forwards;
}

.wrap .container .content{
width: 1100px;
margin: 0 auto;
}

.wrap .container .content .brand{
position: relative;
margin-top: 35px;
}

.wrap .container .content .brand .brand_nav{
margin-bottom: 12px;
height: 30px;
border-bottom: 1px #6c6c6c solid;
}

.wrap .container .content .brand .brand_nav ul{
float: left;
}

.wrap .container .content .brand .brand_nav ul li{
width: 140px;
height: 30px;
color: #000;
text-align: center;
font-size: 14px !important;
font-weight: bold;
float: left;
cursor: pointer;
position: relative;
}

.wrap .container .content .brand .brand_nav ul li span{}

.wrap .container .content .brand .brand_nav ul li .i{
background:#00c8ff;
}

.wrap .container .content .brand .brand_nav ul li i{
width: 140px;
height: 2px;
position: absolute;
left: 0;
top: 29px;
display: none;
}

.wrap .container .content .brand .brand_nav .allbrand{
float: right;
margin-top: 2px;
}

.wrap .container .content .brand .brand_nav .allbrand a{
color: #6c6c6c;
font-size:12px;
}

.wrap .container .content .brand .brand_cont{
/*width:1100px;
height:212px;
overflow:hidden;
position:relative;*/
}

.wrap .container .content .brand .brand_cont .brand_page{
/*display:block;*/
/*position:absolute;*/
display:none;
}

.wrap .container .content .brand .brand_cont .brand_page .listbrand{
float: left;
width: 840px;
overflow: hidden;
}

.wrap .container .content .brand .brand_cont .brand_page .listbrand ul{
margin-top: -8px;
}

.wrap .container .content .brand .brand_cont .brand_page .listbrand ul li{
float: left;
width: 160px;
height: 102px;
margin: 8px 8px 0 0;
}

.wrap .container .content .brand .brand_cont .brand_page .listbrand ul li a{
display: block;
width: 160px;
height: 102px;
}

.wrap .container .content .brand .brand_cont .brand_page .listbrand ul li a img{
display: block;
width: 160px;
height: 102px;
}

.wrap .container .content .brand .brand_cont .brand_page .hotbrand{
float: right;
width: 260px;
height: 212px;
}

.wrap .container .content .brand .brand_cont .brand_page .hotbrand a{
display: block;
width: 260px;
height: 212px;
}

.wrap .container .content .brand .brand_cont .brand_page .hotbrand a img{
display: block;
width: 260px;
height: 212px;
}

.wrap .container .content .brand .right_leftbtn{
position: absolute;
right: 230px;
bottom: 81px;
font-size: 44px;
color: #878e96;
z-index: 100;
cursor: pointer;
}

.wrap .container .content .brand .right_rightbtn{
position: absolute;
right: 8px;
bottom: 81px;
font-size: 44px;
color: #878e96;
z-index: 100;
cursor: pointer;
}

.wrap .container .content .products{
margin-bottom: 0;
margin-top: 35px;
}

.wrap .container .content .products h2{
font-size: 18px;
color: #000;;
font-weight: normal;
overflow: hidden;
}

.wrap .container .content .products h2 p{}

.wrap .container .content .products h2 p span{
margin-right: 12px;
}

.wrap .container .content .products h2 p i{
font-style: normal;
font-family: Arial;
text-transform: uppercase;
}

.wrap .container .content .products .nlist{
width: 1100px;
margin-top: -8px;
}

.wrap .container .content .products .nlist ul{
margin-left: -25px;
}

.wrap .container .content .products .nlist ul li{
float: left;
width: 350px;
height: 507px;
margin: 25px 0 0 25px;
position: relative;
}

.wrap .container .content .products .nlist ul li .goods_img{
width: 350px;
height: 350px;
position: relative;
background: #fff;
}

.wrap .container .content .products .nlist ul li .goods_img .goods_img_show{
display: block;
width: 350px;
height: 350px;
}

.wrap .container .content .products .nlist ul li .goods_img img{
display: block;
width: 350px;
height: 350px;
}

.wrap .container .content .products .nlist ul li .goods_img .goods_img_effic{
position: absolute;
bottom: 0px;
left: 0;
width: 335px;
text-align: center;
padding-left: 15px;
display: none;
}

.wrap .container .content .products .nlist ul li .goods_img .goods_img_effic a{
text-align: center;
padding: 6px 16px;
border: 1px #00c8ff solid;
color: #00c8ff;
margin-right: 15px;
display: inline-block;
}

.wrap .container .content .products .nlist ul li .goods_img .sale_out{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 300;
background: #000;
filter: alpha(opacity=40);
opacity: 0.4;
display: none;
}

.wrap .container .content .products .nlist ul .saleOut_tips .goods_img .sale_out{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 300;
background: #000;
filter: alpha(opacity=40);
opacity: 0.4;
display: block;
}

.wrap .container .content .products .nlist ul li .goods_img .skso{
width: 162px;
height: 80px;
position: absolute;
left: 50%;
margin-left: -81px;
top: 50%;
margin-top: -40px;
z-index: 400;
display: none;
}

.wrap .container .content .products .nlist ul .saleOut_tips .goods_img .skso{
width: 162px;
height: 80px;
position: absolute;
left: 50%;
margin-left: -81px;
top: 50%;
margin-top: -40px;
z-index: 400;
display: block;
}

.wrap .container .content .products .nlist ul .saleOut_tips .goods_img .skso>p{
width: 153px;
height: 50px;
line-height: 50px;
color: #fff;
font-size: 26px;
font-family: '微软雅黑';
text-align: center;
border: 1px #fff solid;
letter-spacing: 3px;
padding-left: 7px;
margin-bottom: 10px;
}

.wrap .container .content .products .nlist ul li .goods_info{
width: 310px;
height: 146px;
padding: 11px 20px 0;
background: #fff;
}

.wrap .container .content .products .nlist ul li .goods_info .pro_name{
width: 310px;
height: 40px;
overflow: hidden;
}

.wrap .container .content .products .nlist ul li .goods_info .pro_name a{
width: 310px;
height: 40px;
display: block;
line-height: 20px;
color: #6c6c6c;
}

.wrap .container .content .products .nlist ul li .goods_info .pro_name a span{
font-size: 16px;
color: #ff643c;
font-weight: bold;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info{
margin-bottom: 12px;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_num{
float: left;
margin-top: 11px;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_num i{
font-style: normal;
color: #ff643c;
font-size: 14px;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_num span{
font-size: 36px;
color: #ff643c;
font-family: Arial;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_buy{
width: 90px;
height: 26px;
background: #ff643c;
float: right;
margin-top: 19px;
line-height: 26px;
color: #fff;
text-align: center;
position:relative;
}

.wrap .container .content .products .nlist ul .saleOut_tips .goods_info .price_info .price_info_buy{
width: 90px;
height: 26px;
background: #c4c4c4;
float: right;
margin-top: 19px;
line-height: 26px;
color: #fff;
text-align: center;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_buy a{
width: 90px;
height: 26px;
display: block;
text-align: center;
line-height: 26px;
color: #fff;
}

.wrap .container .content .products .nlist ul li .goods_info .price_info .price_info_buy .clickMove{
background:url("../images/clickMove.png") center no-repeat;
width:22px;
height:22px;
position:absolute;
display:none;
margin-top: -24px;
color:#fff;
font-size:12px;
z-index:1900;
}

@keyframes clickMove{
0%{
display:none;
}
100%{
display:block;
opacity:0;
transform:translate(166px,-123px);
}
}

.wrap .container .content .products .nlist ul li .goods_info .sale_tip{
color: #c4c4c4;
height: 40px;
line-height: 40px;
border-top: 1px #c4c4c4 dotted;
}

.wrap .container .content .products .nlist ul li .goods_info .sale_tip .sale_tip_time{
float:left;
padding-left:22px;
background:url("../images/ico2.png") no-repeat 0 -220px;
}

.wrap .container .content .products .nlist ul li .goods_info .sale_tip .sale_tip_count{
float: right;
}

.wrap .container .content .products .nlist ul li .goods_info .sale_tip .sale_tip_time i{
margin-right:8px;
font-style:normal;
}

.wrap .container .b_search{
width: 1100px;
background: #fff;
padding: 30px 0;
margin: 35px auto 0;
}

.wrap .container .b_search .search_box_bottom{
width: 600px;
margin: 0 auto;
}

.wrap .container .b_search .search_box_bottom .search_form{
background: #fff;
height: 40px;
}

.wrap .container .b_search .search_box_bottom .search_form .search_box_text{
width: 498px;
border: 0;
height: 26px;
line-height: 28px;
padding: 5px 0px;
float: left;
background: #fff;
border: 2px #00c8ff solid;
padding-left: 10px;
color: #6c6c6c;
}

.wrap .container .b_search .search_box_bottom .search_form .search_box_btn{
width: 88px;
height: 40px;
float: left;
color: rgb(255, 255, 255);
font-size: 16px;
font-family: 微软雅黑;
cursor: pointer;
font-weight: bold;
letter-spacing: 2px;
text-align: center;
line-height: 40px;
border-width: 0px;
border-style: initial;
border-color: initial;
border-image: initial;
background: rgb(0, 200, 255);
}

.wrap .container .b_search .search_box_bottom .hotkey{
margin-top: 6px;
}

.wrap .container .b_search .search_box_bottom .hotkey li{
float: left;
overflow: hidden;
}

.wrap .container .b_search .search_box_bottom .hotkey li:first-child{
margin-left: -7px;
}

.wrap .container .b_search .search_box_bottom .hotkey li a{
color: #6c6c6c;
margin: 0 9px;
float: left;
}

.wrap .container .b_search .search_box_bottom .hotkey li .line{
font-style: normal;
width: 1px;
background: #c4c4c4;
height: 10px;
float: left;
margin-top: 2px;
}

.wrap .container .slide_left{
position: fixed;
left: 50%;
margin-left: -625px;
top: 200px;
display: none;
}

.wrap .container .slide_left ul{}

.wrap .container .slide_left ul li{
width: 60px;
height: 60px;
background: #fff;
text-align: center;
margin-bottom: 1px;
}

.wrap .container .slide_left ul li:hover{
background-color:#00c8ff;
border-bottom: 0;;
}

.wrap .container .slide_left ul li:hover a{
color:#fff;
}

.wrap .container .slide_left ul li a{
color: #6c6c6c;
width: 60px;
height: 59px;
display: block;
border-bottom: 1px #c4c4c4 dotted;
}

.wrap .container .slide_left ul .zhiwo_index{
background: #00c8ff;
}

.wrap .container .slide_left ul .zhiwo_index a{
color: #fff;
font-size: 14px;
height: 45px;
padding-top: 15px;
border-bottom: 0;
}

.wrap .container .slide_left ul .main_push a{
padding-top: 40px;
height: 19px;
background:url("../images/snav.png") no-repeat 0 -60px;
}

.wrap .container .slide_left ul .group a{
padding-top: 40px;
height: 19px;
background: url(../images/snav.png) no-repeat 0 -120px;
}

.wrap .container .slide_left ul .today_deals a{
padding-top: 40px;
height: 19px;
background: url(../images/snav.png) no-repeat 0 -180px;;
}

.wrap .footer{
clear: both;
width: 100%;
background: #fff;
}

.wrap .footer .footer_intro{
margin: 0 auto 35px;
padding-top: 34px;
padding-left: 16px;
width: 1100px;
}

.wrap .footer .footer_intro dl{
float: left;
width: 122px;
margin-left: 20px;
}

.wrap .footer .footer_intro dl dt{
font-size: 14px;
font-weight: bold;
margin-bottom: 10px;
}

.wrap .footer .footer_intro dl dd a{
color: #6c6c6c;
font-size: 14px;
line-height: 24px;
display: block;
}

.wrap .footer .footer_intro .footer_intro_more{
margin-left: 8px;
}

.wrap .footer .footer_intro .footer_intro_more .contact_method{
font-weight: bold;
font-size: 14px;
margin-top: 6px;
}

.wrap .footer .footer_intro .footer_intro_more .contact_phone{
color: #00c8ff;
font-weight: bold;
margin-top: 8px;
}

.wrap .footer .footer_intro .footer_intro_wechat{
width: 103px;
float: right;
}

.wrap .footer .footer_intro .footer_intro_wechat dt{
margin-left: 6px;
}

.wrap .footer .footer_intro .footer_intro_wechat dd img{
display: block;
width: 103px;
height: 103px;
border:0;
}

.wrap .footer .footer_center{
height: 35px;
background: #00c8ff;
}

.wrap .footer .footer_center .footer_center_box{
margin: 0 auto;
}

.wrap .footer .footer_center .footer_center_box ul{
padding-left: 58px;
text-align: center;
font-size: 0;
}

.wrap .footer .footer_center .footer_center_box ul li{
font-family: 微软雅黑;
color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
width: 134px;
height: 35px;
line-height: 35px;
display: inline-block;
padding-left: 30px;
text-align: left;
}

.wrap .footer .footer_center .footer_center_box ul .fcb_1{
background: url("../images/assure2.png") no-repeat 0 0;
}

.wrap .footer .footer_center .footer_center_box ul .fcb_2{
background: url("../images/assure2.png") no-repeat 0 -35px;
}

.wrap .footer .footer_center .footer_center_box ul .fcb_3{
background: url("../images/assure2.png") no-repeat 0 -70px;
}

.wrap .footer .footer_center .footer_center_box ul .fcb_4{
background: url("../images/assure2.png") no-repeat 0 -105px;
}

.wrap .footer .footer_link{
width: 1100px;
margin: 14px auto -10px;
height: 20px;
overflow: hidden;
}

.wrap .footer .footer_link .footer_link_title{
float: left;
height: 20px;
line-height: 20px;
margin-right: 10px;
color: #323232;
}

.wrap .footer_copyright{
margin: 0 auto;
padding: 26px 0 45px;}

.wrap .footer_copyright p{
text-align: center;
}

.wrap .footer_copyright .footer_copyright_text1{
margin-bottom: 7px;
}

.wrap .footer_copyright .footer_copyright_text2{
margin-bottom: 20px;
}

.wrap .footer_copyright .footer_copyright_text2 a{
color: #6c6c6c;
}

.wrap .slide_right{
width: 35px;
position: fixed;
top: 0;
right: 0px;
z-index: 1000;
min-height: 100%;
}

.wrap .slide_right .slide_right_panel{
width: 35px;
height: 100%;
text-align: center;
position: absolute;
top: 0;
left: 0;
z-index: 20;
background: #6c6c6c;
}

.wrap .slide_right .slide_right_panel .slide_btn{
display: block;
width: 35px;
}

.wrap .slide_right .slide_right_panel .slide_tips{
width: 103px;
height: 35px;
line-height: 35px;
background: #6c6c6c;
text-align: center;
color: #fff;
position: absolute;
top: 0;
left: -120px;
display: block;
opacity:0;
}

.wrap .slide_right .slide_right_panel .slide_tips .triangle{
position: absolute;
right: -8px;
top: 14px;
width: 0;
height: 0;
border-width: 4px;
border-style: dashed dashed dashed solid;
border-color: transparent transparent transparent #6c6c6c;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1{
position: absolute;
top: 50%;
margin-top: -200px;
left: 0;
z-index: 10;
background: #6c6c6c;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login{
margin-bottom: 21px;
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login a{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login a .login_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 0;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login div{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login div a{
color: #fff;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_login div span{
margin: 0 10px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_shopcar{
height: 126px;
margin-bottom: 26px;
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_shopcar a{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_shopcar a .car_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 -35px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_shopcar a .slide_shopcar{
color: #fff;
display: block;
width: 15px;
margin: 5px auto 10px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_shopcar a .slide_amount{
color: #fff;
display: block;
width: 35px;
height: 35px;
line-height: 32px;
background: url(../images/sidebarico.png) no-repeat 0 -210px;
font-family: Arial;
font-size: 14px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_collect{
margin-bottom: 8px;
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_collect a{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_collect a .collect_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 -70px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_collect div{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_collect div span{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_foot{
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_foot a{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_foot a .foot_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 -105px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_foot div{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part1 .slide_right_panel_part1_foot div span{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2{
position: absolute;
bottom: 20px;
left: 0;
z-index: 9;
background: #6c6c6c;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat{
margin-bottom: 10px;
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat .slide_btnc{
display: block;
width: 35px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat a .wc_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 -140px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat .slide_tips{
width: 370px;
height: 170px;
top: -135px;
left: -370px;
display:none;
opacity:1 !important;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat .slide_tips .slide_ewm{
float: left;
margin-left: 10px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat .slide_tips .slide_ewm img{
display: block;
width: 110px;
height: 110px;
margin: 20px auto 4px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_wechat .slide_tips .slide_ewm .triangle{
right: -8px;
top: 147px;
width: 0;
height: 0;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_server{
margin-bottom: 30px;
position: relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_server a{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_server a .server_btn_bg{
display: block;
width: 35px;
height: 35px;
background: url(../images/sidebarico.png) no-repeat 0 -175px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_server div{}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_top{
width: 35px;
height: 35px;
position:relative;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_top a{
display: block;
width: 35px;
height: 35px;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_top a .uptriangle{
width: 0;
height: 0;
display: block;
margin: 0 auto;
margin-bottom: 3px;
border-width: 5px;
border-style: dashed dashed solid dashed;
border-color: transparent transparent #fff transparent;
}

.wrap .slide_right .slide_right_panel .slide_right_panel_part2 .slide_right_panel_part2_top a .go_top{
font-family: Arial;
color: #fff;
}

.wrap .slide_right .slide_right_content{
width: 300px;
position: absolute;
top: 0;
bottom: 0;
left: 35px;
background: #fff;
}

.wrap .slide_right .slide_right_content .nav_content{
width: 300px;
position: absolute;
top: 0;
bottom: 0;
left: 35px;
background: #fff;
}

.wrap .slide_right .slide_right_content .nav_content h2{
font-weight: normal;
font-size: 18px;
color: #000;
font-family: '微软雅黑';
overflow: hidden;
height: 42px;
}

.wrap .slide_right .slide_right_content .nav_content h2 span{
float: left;
width: 254px;
padding-bottom: 17px;
border-bottom: 1px #e3e3e3 dotted;
}

.wrap .slide_right .slide_right_content .nav_content h2 i{
float: right;
font-style: normal;
font-size: 24px;
color: #adadad;
font-family: '宋体';
cursor: pointer;
}

.wrap .slide_right .slide_right_content .nav_content .shopgoods_empty{
padding: 30px 0;
}

.wrap .slide_right .slide_right_content .nav_content .shopgoods_empty p{
text-align: center;
font-family: '微软雅黑';
}

.wrap .slide_right .slide_right_content .nav_content .shopgoods_empty .empty_img{
width: 135px;
height: 164px;
margin: 0 auto;
background: url(../images/empty.png) no-repeat;
}

.wrap .slide_right .slide_right_content .nav_content .shopgoods_empty .empty_tip1{
font-size: 24px;
color: #c4c4c4;
margin-top: 10px;
}

.wrap .slide_right .slide_right_content .nav_content .shopgoods_empty .empty_tip2{
font-size: 18px;
color: #c4c4c4;
}